In [4]:
x=20

In [6]:
if x>10 :
  print("x>10")

x>10

In [8]:
x=20

In [13]:
if x>10 :
  print("x is greater than 10")
if x<10 :
    print("x is less than 10")
if x==10 :
  print("x is egual to 100")

x is greater than 10

In [11]:
x=20

In [18]:
x=int(input("enter your marks "))
if x>100 :
  print("outstanding")
if x<100 :
  print("failed") 
if x==100 :
  print("just pass")

enter your marks 100
just pass

In [21]:
x=int(input("enter the salary"))
if x>250000 :
  print("taxable")
  print(x*10/100)
  if x<250000 :
    print("no tax")

enter the salary260000
taxable
26000.0